body {
  background-color: white;
  background-image: url("https://i.pinimg.com/originals/d3/f3/5d/d3f35d3041908f0aabb495c299641632.gif");
  background-size: 40% ;
  margin-right: 0px;
}

main{
    margin: 30px;
}

button {
    display: block;
    justify-self: center;
}

h1 {
    color: #22376a;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

h2 {
    color: #e1f5fe;
    font-family: garamond;
    font-size: 30px;
    text-align: center;
}

li {
    color: #ff8b43;
    font-family: verdana;
    font-size: 15px; 
}

.navbar {
margin-top: 10px;
background-color: #2a99d5;
width: 97%;
text-align: center;
height: 50px;
border-radius: 30px;
justify-self: center;
}

.navbar td {
padding: 2px 0px;
border-radius: 30px;
}

.navbar tr {
padding: 2px 0px;
border-radius: 30px;
}

.navbar a {
text-decoration: none;
color: #01579b;
display: block;
background-color: #2a99d5;
transition: background-color 0.2s;
height: 40px;
border-radius: 30px;
justify-items: center;
}

.navbar a:hover {
background-color: #29b6f6;
color: #0288d1;
}

a {
color: #01579b;
font-family: corben;
font-weight: 300;
font-size: 15pt;
text-align: center;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.left{
    flex: 1;
    margin-right: 0px;
    flex-direction: column, left;
}

.right{
    flex: 1;
    margin-left: 0px;
    flex-direction: column, right;
}

.heada {
margin-top: 40px;
background-color: #bee8fb;
width: 85%;
text-align: center;
height: 50px;
border-color: #01579b;
font-family: corben;
color: #0288d1;
margin-left: 15px;
}

iframe {
    display: block;
    margin-left: 15px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 20px;
}

.about {
margin-top: 10px;
background-color: #afc6ff;
width: 85%;
text-align: center;
justify-self: center;
height: 50px;
font-family: corben;
color: #304b90;
}
