body {
  background-color: cornsilk;
  margin-right: 0px;
}

h1 {
    color: #433d3d;
    font-family: Georgia;
    font-size: 40px;
}

h2 {
    color: #ddc272;
    font-family: garamond;
    font-size: 30px;
}

li {
    color: #ff8b43;
    font-family: verdana;
    font-size: 15px; 
}

div.gallery {
    margin: 2px;
    border: 2px solid #433d3d;
    float: left;
    width: 180px;
    background-color: white;
}

div.gallery:hover {
    border: 2px solid #ddc272;
}

div.gallery img {
    width: 100%;
    height: auto;
}


div.desc {
    padding: 10px;
    text-align: center;
    color:#433d3d;
}

div.desc:hover {
    color:#ddc272
}

div.gallery2 {
    margin: 2px;
    border: 2px solid #433d3d;
    float: left;
    width: 300px;
    background-color: white;
}

div.gallery2:hover {
    border: 2px solid #ddc272;
}

div.gallery2 img {
    width: 100%;
    height: auto;
}


div.desc2 {
    padding: 10px;
    text-align: center;
    color:#433d3d;
}

div.desc2:hover {
    color:#ddc272
}

.navbar {
margin-top: 10px;
background-color: #ff8b43;
width: 97%;
text-align: center;
height: 50px;
border-radius: 30px;
justify-self: center;
}

.navbar td {
padding: 2px 0px;
border-radius: 30px;
}

.navbar tr {
padding: 2px 0px;
border-radius: 30px;
}

.navbar a {
text-decoration: none;
color: #5a2d11;
display: block;
background-color: #ff8b43;
transition: background-color 0.2s;
height: 40px;
border-radius: 30px;
justify-items: center;
}

.navbar a:hover {
background-color: #fdb080;
color: #b05c28;
}

a {
color: #ff8b43;
font-family: lexend;
font-weight: 300;
font-size: 15pt;
text-align: center;
}