table, td, tr {
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    border-color: #433d3d;
    font-family: lexend;
    color: #433d3d;
    margin-bottom: 10px;
    background-color: rgb(252, 251, 179);
  }


  body {
    background-color: white ;
    padding: 100px
  }

  h1 {
    font-family: 'Lexend';
    color: #433d3d;
    font-size: 50px;
  }

  img {
    border-radius: 2px;
  }

  p {
    color:#433d3d;
    font-family: 'Lexend';
    justify-content: center;
  }

  h2 {
    color: #ff8b43;
    margin-bottom: 1px;
    margin-top: 1px;
    font-family: lexend;
    text-align: center;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.left{
    flex: 1;
    margin-right: 0px;
    flex-direction: column, left;
}

.right{
    flex: 1;
    margin-left: 0px;
    flex-direction: column, right;
}

  h3 {
    font-family: 'Lexend';
    color: white;
    font-size: 16px;
  }

  footer {
    margin-top: 40px;
    justify-content: center;
    text-align: center;
  }

a {
  color:#433d3d
}

a:hover {
  transition: color 0.2s;
  color:#ff8b43
}

a:visited{
  color:#ff8b43
}