body {
    background-color: lightgoldenrodyellow;
    margin-right: 0px;
  }
  
  h1 {
    color: #433d3d;
    font-family: Georgia;
    font-size: 40px;
    justify-content: center;
  }
  
  h2 {
    color: #ddc272;
    font-family: 'lexend';
    font-size: 30px;
    justify-content: center;
  }

  p {
    color:#ff8b43;
    font-family: 'Lexend';
    justify-content: center;
  }

  label {
    color: #433d3d;
    font-family: 'Lexend';
    font-size: 15px;
    justify-content: center;
  }